<mat-toolbar color="primary">Grade Snitch!</mat-toolbar>

<div *ngIf="missingAssignments.length === 0" class="container" appDnd (fileDropped)="onFileDropped($event)">
  <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)" />
  <img src="assets/images/upload.svg" alt="">
  <h3>Drag and drop file here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for file</label>
</div>
<div *ngFor="let record of missingAssignments">
  <span>{{ record.name || record.id }}{{ record.email ? ' (' + record.email + ')' : '' }}:</span>
  <ul *ngFor="let assignment of record.assignments">
    <li>{{ assignment }}</li>
  </ul>
</div>
<!-- <div class="files-list">
  <div class="single-file" *ngFor="let file of files; let i = index">
    <img src="assets/images/file.svg" width="45px" alt="file">
    <div class="info">
      <h4 class="name">
        {{ file?.name }}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
      <app-progress [progress]="file?.progress"></app-progress>
    </div>
    <img src="assets/images/delete.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
  </div>
</div> -->
